.pagination {
  display: flex;
  margin: 20px 0;
}
.pagination a {
  @apply bg-blue-600;
  @apply text-white;
  @apply px-4;
  @apply py-3;
  text-decoration: none;
}

.pagination a:hover {
  background-color: darkslategray;
  color: white;
}

.pagination a[disabled] {
  pointer-events: none;
  background-color: gray;
  cursor: not-allowed;
}
